 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    
    
    .navbar {
        background-color:black;
        box-shadow: 0px 2px 6px gray;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;

    }

    .navbar_container {
        box-shadow: 0px 2px 6px gray;
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto ;
        padding: 0 50px;
    }
    
    #navbar_logo { 
        display: flex;
        align-items: center;
    }

    #navbar_name {
        color: white;
        text-decoration: none;
        height: 100%;
        width: 125px;
        display:flex;
        margin-right: 33em;
        margin-top: 1.5em;
        
    }
    .navbar_menu {
        display: flex;
        align-items: center;
        list-style: none;
        margin: auto;
        justify-content: center;

    }

    .navbar_items {
        height: 80px;
        align-items: center;
        margin: auto;
        justify-content: center;
    }
    .navbar_links {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        text-decoration: none;
        height: 100%;
    }

    .navbar_links:hover {
        color:maroon;
        transition: all 0.3s ease;

    }

    /* firs page */

    .first_page {
        background-image: url("./img&gif/pharmacy.gif");
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        height: 833px;
    }

    .entry_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        height: 40%;
    }

    .entry_heading {
        font-size: 100px;
        margin-bottom: 10px;
        color:white;
    }

    .entry_description {
        font-size: 38px;
        color: white;
        margin-bottom: 24px;
        justify-content: center;
    }

    .search-box{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: white;
        height: 60px;
        border-radius: 40px;
        padding: 20px;
    }
    
    .search-btn {
        color: white;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #2f3640;
        display:flex;
       position: relative;
       bottom:10px;
        justify-content: center;
        align-items: center; 
    }

    .search-txt{
        border: none;
        background:none;
        outline: none;
        float: left;
        padding: 0;
        color: black;
        font-size: 20px;
        transition: 0.4s;
        line-height: 10px;
        width: 500px;
    }

    /*  About section */

    .second {
        background-color: white;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 833px;
        padding: 10rem 0 ;

    }

    .second h2{
        font-size: 48px;
        display: flex;
        align-items: center;
        color: black;
        margin-bottom: 30px;

    }

    .second p{
        font-size: 22px;
        display: flex;
        align-items: center;
        color: black; 
        margin-bottom: 60px;
    }

    .about_wrapper {
        display: flex;
       margin: 80px;
       align-items: center;
       justify-content: space-between;
       

    }
    
    .about_card {
        margin: 50px;
        height: 150px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .about_vector1 {
        display:flex;
        position: relative;
        bottom:100px ;
    }
    .about_vector2 {
        display: flex;
        position: relative;
        bottom: 60px;
    } 
 
    .about_card h3{
        display: flex;
        text-align: center;
        margin-top: 30px;

    }

    .about_card p{
        display: flex;
        font-size: 14px;
        margin-top: 10px;

    }

    /* Video Section */
    

    .third {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .ph_video {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        height: auto;
    } 
 
    /* FAQ Section */

    .fourth {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 5rem;
        height: 877px;
        
    }
    
    .fourth h1 {
        text-align: center;
        font-size: 3rem;
        margin: 2rem auto;
        margin-top: 8rem;
        margin-right: 45rem;

    }

    .faq {
        max-width: 1440px;
        margin-top: 4rem;
        margin-left: 20rem;
        margin-right: 20rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid black;
        cursor: pointer;
    }

    .faq h3 {
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    .question_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.4s ease;
    }

    .answer p {
        color: rgb(73, 73, 73);
        padding-top: 1rem;
        line-height: 1.6;
        font-size: 1.4rem;

    }

    .faq.active .answer {
        max-height: 300px;
        animation: fade 1 ease-in-out;
    }


    .faq.active svg {
        transform: rotate(180deg);

    }
    svg {
        transition: transform 0.5 ease-in;
    }

    @keyframes fade {
        from {
            opacity: 0;
            transform: translate(-10px);
        }
        to {
            opacity: 1;
            transform: translate(0px);
        }
    }



/* FORM Section */
.contact-sales-form h4 {
  font-size: 48px;
  line-height: 28px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
  margin-top: 3rem;
}

[class*=column-] {
  float: left;
  padding: 1em;
  min-height: 1px;
}

.row:before, .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }
  

.column-6 {
    width: 50%;
  }


fieldset {
  border-width: 0;
  border-color: #f3f3f39c;
  margin: 2em 1em;
}

legend {
  font-size: 2em;  
  text-align: center;
  margin-bottom: 2em;
  text-transform: uppercase;
}

form input[type=text], form input[type=tel] {
  padding: 1em;
  margin-bottom: 2em;
  display: block;
  border: none;
  border-bottom: 2px solid #1b1b1c;
  width: 100%;
}

form input[type=submit] {
  font-size: 1em;
  display: block;
  margin: auto;
  margin-top: 23.5rem;
  padding: 2em 3em;
  background-image: linear-gradient(45deg, #64008f, #ad4baa);
  color: white;
  text-transform: uppercase;
  border: none;
  width: 80%;
}

form input[type=submit]:hover {
  background: linear-gradient(45deg, #ad4baa, #64008f);
}

form label {
  text-transform: uppercase;
  color:black;
}

.contact-sales-form {
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.7);
  padding: 2em;
}

.contact-sales-form .instructions {
  text-align: center;
  padding: 2em 1em;
  background: #f3f3f3;
}
/* Footer */

footer{
    background: #111;
    height: auto;
    width: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    display: flex;
    background: #000;
    width: auto;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    margin: 3px auto;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .6;
    font-weight: 200;
}